.book-cover {
  width: 100%;
  aspect-ratio: 0.9;
  position: relative;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  overflow: hidden;
}

.book-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all 0.3s;
}
