#write {
  display: flex;
  max-height: 100vh;
}

.write-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  row-gap: 1.5rem;
  padding: 2rem;
  border: 1px dashed var(--dark-gray);
  border-radius: 30px;
  margin: 3rem 2em;
  overflow: scroll;
}

.write-header {
  & h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
}

.write-search {
  width: clamp(300px, 80vw, 550px);
}

.write-book-container {
  width: 100%;

  & h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & h2.isSearched {
    color: var(--dark-gray);
  }
}

.book-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
}

.book-detail {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.book-detail-top {
  display: flex;
  gap: 1.875rem;

  & > div {
    max-width: 200px;
  }

  & > header {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    row-gap: 2.625rem;
    padding: 4.125rem;
    background-color: var(--yellow);
    border-radius: 30px;
  }

  & > header h2 {
    font-size: 2.8125rem;
    font-weight: 700;
    line-height: 1;
  }

  & > header p {
    font-size: 1.625rem;
    font-weight: 400;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      border-bottom: 1px dashed var(--dark-gray);
    }
  }
}

.book-detail-bottom {
  padding: 2.1875rem;
  background-color: var(--light-gray);
  border-radius: 30px;

  & p {
    font-size: 1.25rem;
    font-weight: 400;
    width: 610px;
  }
}

.book-detail-write {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .write-container {
    margin-top: 88px;
  }

  .write-header h1 {
    font-size: 1.5rem;
  }

  .book-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
  }
}

@media screen and (max-width: 576px) {
  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .book-detail .book-cover {
    display: none;
  }

  .book-detail-top > header {
    padding: 2rem;
    gap: 1rem;
    width: 100%;

    & > h2 {
      font-size: 2rem;
    }

    & > p {
      font-size: 1rem;

      &::after {
        display: none;
      }
    }
  }

  .book-detail-bottom > p {
    width: auto;
    min-width: 200px;
  }
}
