.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

.desktop-only {
  display: inline-block;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .mobile-only {
    display: inline-block;
  }
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    32px 0 #fff,
    -32px 0 #fff;
  position: absolute;
  animation: flash 0.5s ease-out infinite alternate;
  top: 50%;
  left: 50%;
  translate: transform(-50%, -50%);
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow:
      32px 0 #fff2,
      -32px 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow:
      32px 0 #fff2,
      -32px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow:
      32px 0 #fff,
      -32px 0 #fff2;
  }
}
